# Dependencias de Node.js
node_modules/

# Archivos de registro
*.log

# Directorio de salida de compilación
dist/
build/

# Configuraciones de IDE
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Otras configuraciones específicas del proyecto
.env
.env.production


# generated types
.astro/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
