---
import SocialIcons from "./SocialIcons.astro";
import FooterSection from "./FooterSection.astro";
---

<footer
  class="h-full celular:px-20 tablet:px-10 py-10 px-40 text-center text-white bg-black"
>
  <div class="max-w-screen-2xl mx-auto flex celular:justify-around">
    <img src="../logo_owlyxwhite.webp" alt="Somi Logo" class="w-24 mb-4" />
    <h2 class="text-3xl font-bold my-auto ml-3">Somi</h2>
  </div>
  <div
    class="celular:flex-col celular:items-center max-w-screen-2xl mx-auto flex justify-between flex-wrap"
  >
    <FooterSection header="SERVICIOS">
      <a class="mb-1" href="/Packaging">Packaging</a>
      <a class="mb-1" href="/Imprenta">Imprenta</a>
    </FooterSection>

    <FooterSection header="CONTACTO">
      <p class="mb-1">+51 954 659 752</p>
      <p class="mb-1">team@owlyx.net</p>
    </FooterSection>
    <FooterSection header="REDES SOCIALES">
      <SocialIcons classList="flex-col" />
    </FooterSection>
  </div>
  <div class="max-w-6xl mx-auto mt-5 text-sm">
    <p>©2025 Somi Packing S.A.C Todos los derechos reservados</p>
  </div>
</footer>
