---
const { header } = Astro.props;
---

<div
  class={`celular:w-full celular:flex celular:flex-col celular:items-center  max-w-48 mb-4 text-left flex flex-col`}
>
  <h3 class="text-xl mb-3">{header}</h3>
  <slot />
</div>
