.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  height: 57px;
  align-items: center;
  background-color: transparent;
  position: fixed;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  z-index: 1000;
}

/* Define esta clase como global */
:global(.scrolled) {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
