---
const { label } = Astro.props;
const pathname: string = Astro.url.pathname;

// Genera dinámicamente el path basado en el label
const path =
  label === "Inicio" ? "/" : `/${label.toLowerCase().replace(/\s+/g, "-")}`;

// Aplica clases activas si el pathname es "/" (inicio) o coincide con el path generado
const isActive = pathname === path || (label === "Inicio" && pathname === "/");
---

<a
  class={` text-black  hover:text-red-600 ${
    isActive ? "text-blue-500 font-bold" : ""
  }`}
  href={path}
>
  {label}
</a>
